.imgshrink {
  margin: 3px;
  padding: 2px;
  width: 20%;
  height: auto;
 
}

.title-text {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;

}

.ylwhlt {
  background-color: yellowgreen !important;
}

.boxborders {
  font-size: 12pt;
  margin: 5px;
  border: 6px solid green;
  padding: 10px;
  background-color: rgb(249, 194, 92);

}

.smallertext {
  font-size: 12pt;
  font-family: 'Courier New', Courier, monospace;
  font-style: bold italic;
}
