.imgshrink {
  margin: 3px;
  border: 20px solid gray;
  padding: 2px;
  width: 20%;
  height: auto;
  float: right;
}

.title-text {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;

