.imgshrink {
  border: 2 px solid gray;
  padding: 2px;
  width: 20%;
  height: auto;
  float: right;
}

.title-text {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: darkgray;
  background-color: blue;
}

body {
  background-color: lightgrey;
}

h1 {
  background-color: blue;
}